*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #111;
    color: #fff;
}
#box{
    height: 100px;
    width: 100px;
    background-color: rgb(90,4,255);
}
button{
    padding: 10px 20px;
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}